body {
    background-color: rgb(171, 233, 202);
}

.nav-bar {
    color: white;
    background-color: rgb(43, 138, 90);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.side-bar {
    color: white;
    background-color: rgb(0, 255, 128);
    margin-right: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.create-note {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}